.formContainer{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formWrapper{
    background: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}